@media screen and (min-width: 700px) {

nav ul li a{
  padding: 2em 4em;
  font-size: 150%;
  color: white;
  text-decoration:none;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
}


#navbar-container {
  width: 100%;
  position: relative;
  text-align: center;
  padding: 25px 0;
}

div#maingamesbody {
  padding: 0% 10% 0% 10%;
}
img.gamesimg{
  border-radius: 40%;
  width: 85%;
}
}

.gamestext {
  font-size: 200%;
}

@media screen and (min-width: 900px){
  
  
}
