@media screen and (min-width: 700px) {

nav ul li a{
  padding: 1em 2em;
  font-size: 150%;
  color: white;
  text-decoration:none;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
}

div#maingamesbody {
  padding: 0% 10% 0% 10%;
}
img.gamesimg{
  border-radius: 40%;
  width: 85%;
}
}

@media screen and (min-width: 900px){
  
  
}
